.policy {
    width: 1140px;
    margin: 0 auto;
    padding: 10px 0 50px 0;
    &__title {
        padding-bottom: 10px;
        text-align: center;
    }
    p { 
        line-height: 20px;
        margin-bottom: 2px;
    }
}