.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg.svg') no-repeat 50%/cover;
    padding-top: 205px;
    &__svg {
        right: 25px;
        top: 25;
        position: absolute;
        svg {
            border-radius: 100px;
            background:  no-repeat 50%/cover;
            min-height: 100vh;
            min-width: 100%;
        }
    }
    &__title {
        margin-top: 10px;
        width: 535px;
        color: #9a9a9a;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        color: #9a9a9a;
        @include before_circle;
            &:before {
                content: '';
                background: #1d4060;
            }
        
    }
    &__btns{
        display: flex;
        margin-top: 25px;
        align-items: center;
    }
    &__link {
        color: #000;
        border-radius: 50px;
        &:hover {
            color: #000;
        }
        &:nth-child(1) {
            margin-right: 44px;
        }
        &:nth-child(2) {
            color: #9a9a9a;
        }
    }
}